* {

}

body {
  background-color: red;
  margin-left: 0;
  margin-right: 0;
}

.title,
.img-container {
  text-align: center;
}

.img-container {
  background-color: black;
}

.main-img {
  height: auto;
  width: 800px;
}

.text-container {
  /* text-align: left; */
}

.text-container {
  font-size: 1.2em;
}

.recipe-list li {
  /* width: 120px; */
  /* color: red; */
  /* border: 2px solid white; */
}
